<.header>
  New Director
  <:subtitle>Use this form to manage director records in your database.</:subtitle>
</.header>

<.director_form changeset={@changeset} action={~p"/directors"} />

<.back navigate={~p"/directors"}>Back to directors</.back>
